[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
scikit-learn = "*"
numpy = "*"
dvc = "*"
fastparquet = "*"
nbformat = "==4.2.0"
ipykernel = "*"
scrapy = "*"
mlflow = "*"
lazypredict = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
